<div id="<%= dom_id reservation %>">
  <p>
    <strong>Firstname:</strong>
    <%= reservation.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= reservation.lastname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reservation.phone %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= reservation.day %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= reservation.rut %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.email %>
  </p>

</div>
