<div class="container-fluid">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Cancel reservation</h1>
    <div class="col-lg-6 mx-auto">
      <div class="  text-center">
        <div class="card my-3">
          <div class="card-thumbnail">
            <div class="d-flex  align-items-center justify-content-center">
              <h3 class="card-title"><a href="#" class="text-secondary">Reservation #<%= @reservation.id %></a></h3>
            </div>
            <div class="d-flex  align-items-center justify-content-center">
                <%= image_tag "reservation.jpg" %>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex  align-items-center justify-content-center">
              <p class="card-text">
                <strong>Doctor:</strong> <%= @reservation.doctor.firstname %>
                <br>
                <strong>day:</strong> <%= @reservation.work_day.name %>
                 <br>
                 <strong>Hour:</strong> <%= @reservation.block_time.start.strftime("%I:%M %p") %> - <%= @reservation.block_time.end.strftime("%I:%M %p") %>
              </p>
            </div>
            <div class="d-flex  align-items-center justify-content-center">
              <%= button_to "Cancel this reservation", @reservation, method: :delete, class: 'btn btn-outline-danger btn-lg px-4', :data => { :confirm => 'Are you sure?', :method => 'delete' } %>
            </div>
          </div>
        </div>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <%= link_to "Back to reservations", reservations_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
        </div>
      </div>
    </div>
  </div>
</div>