<section class="bg-light py-4 my-5">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="mb-3 text-info">Reservations</h2>
              <%= link_to "New reservation", new_reservation_path, class: 'btn btn-outline-primary' %>
          </div>
          <% @reservations.each do |reservation| %>
            <div class="col-md-6 col-lg-4">
                <div class="card my-3">
                  <div class="card-thumbnail">
                    <div class="d-flex  align-items-center justify-content-center">
                      <h3 class="card-title"><a href="#" class="text-secondary">Reservation #<%= reservation.id %></a></h3>
                    </div>
                    <div class="d-flex  align-items-center justify-content-center">
                        <%= image_tag "reservation.jpg" %>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex  align-items-center justify-content-center">
                      <p class="card-text">
                        <strong>Doctor:</strong> <%= reservation.doctor.firstname %>
                        <br>
                        <strong>day:</strong> <%= "#{reservation.day.strftime("%y-%m-%d")} #{reservation.work_day.name}" %> 
                         <br>
                         <strong>Hour:</strong> <%= reservation.block_time.start.strftime("%I:%M %p") %> - <%= reservation.block_time.end.strftime("%I:%M %p") %>
                      </p>
                    </div>
                    <div class="d-flex  align-items-center justify-content-center">
                      <%= link_to "Cancel", cancel_reservation_path(reservation), class: 'btn btn-outline-danger' %>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
      </div>
  </div>
</section>