<div class="px-4 py-5 my-5 text-center">
  <p style="color: green"><%= notice %></p>
  <h1 class="display-5 fw-bold"><%= @doctor.firstname %> <%= @doctor.lastname %></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Phone number: <%= @doctor.phone %></p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <%= link_to "Edit this doctor", edit_doctor_path(@doctor), class: 'btn btn-primary btn-lg px-4 gap-3' %>
      <%= link_to "Back to doctors", doctors_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
      <%= button_to "Destroy this doctor", @doctor, method: :delete, class: 'btn btn-outline-danger btn-lg px-4' %>
    </div>
  </div>
</div>
