<div class="px-4 py-5 my-5 text-center">
  <p style="color: green"><%= notice %></p>
  <h1 class="display-5 fw-bold"><%= @work_day.name %></h1>
  <h1 class="display-4 fw-bold">Day number: <%= @work_day.day_number %></h1>
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <%= link_to "Edit this work days", edit_work_day_path(@work_day), class: 'btn btn-primary btn-lg px-4 gap-3' %>
      <%= link_to "Back to work days", work_days_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
      <%= button_to "Destroy this work day", @work_day, method: :delete, class: 'btn btn-outline-danger btn-lg px-4' %>
    </div>
  </div>
</div>