<!DOCTYPE html>
<html>
  <head>
    <title>Psychologist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if logged_in? %>
      <%= render "layouts/nav_bar" %>
    <% end %>
    <%= yield %>

    <footer>
        <div class="row">
            <div class="col-md-12">
              <div class="d-flex  align-items-center justify-content-center">
                <p>Copyright © 2022 Julio Baptista</p>
              </div>
            </div>
        </div>
    </footer>
  </body>
</html>
